{% extends 'base.html.twig' %}

{% block title %}Adventure Encounter{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>Encounters</h1>
        <p>Adventure awaits you.
        <div class="text-right">
            <a class="btn btn-primary btn-sm" href="{{ path('generate_index') }}">Generate Encounter</a>
        </div>
        <table class="table table-borderless">
            <tr>
                {#<th>Id</th>#}
                <th>   </th>
                <th>Name</th>
                <th>Tyrant</th>
                <th>Day 1</th>
                <th>Day 2</th>
                <th>Day 3</th>
                <th>Day 4</th>
                <th>Day 5</th>
                <th>Day 6</th>
                <th>Day 7</th>
            </tr>
            {% if encounters is defined and encounters is not empty %}
            {% for encounter in encounters %}
                    <tr>
                        {#<td>{{ encounter.id }}</td>#}
                        <td><a href="{{ path('encounters_by_id', {'id':encounter.id}) }}"><img src="{{ asset('/images/'~encounter.tyrantid.name~'.jpg') }}" width="100px" height="100px"></a></td>
                        <td><a href="{{ path('encounters_by_id', {'id':encounter.id}) }}">{{ encounter.name }}</a></td>
                        <td>{{ encounter.tyrantid.name }}</td>
                        <td>{{ encounter.day1id.name }}</td>
                        <td>{{ encounter.day2id.name }}</td>
                        <td>{{ encounter.day3id.name }}</td>
                        <td>{{ encounter.day4id.name }}</td>
                        <td>{{ encounter.day5id.name }}</td>
                        <td>{{ encounter.day6id.name }}</td>
                        <td>{{ encounter.day7id.name }}</td>
                    </tr>
                {% endfor %}
                {% if encounters|length == 1 %}
                    <tr>
                        {#<td>{{ encounters.id }}</td>#}
                        <td><a href="{{ path('encounters_index', {'id':encounters.id}) }}"><img src="{{ asset('/images/'~encounters.tyrantid.name~'.jpg') }}" width="100px" height="100px"></a></td>
                        <td><a href="{{ path('encounters_index', {'id':encounters.id}) }}">{{ encounters.name }}</a></td>
                        <td>{{ encounters.tyrantid.name }}</td>
                        <td>{{ encounters.day1id.name }}</td>
                        <td>{{ encounters.day2id.name }}</td>
                        <td>{{ encounters.day3id.name }}</td>
                        <td>{{ encounters.day4id.name }}</td>
                        <td>{{ encounters.day5id.name }}</td>
                        <td>{{ encounters.day6id.name }}</td>
                        <td>{{ encounters.day7id.name }}</td>
                    </tr>
                {% endif %}
            {% endif %}
        </table>
    </div>
{% endblock %}