{% extends 'base.html.twig' %}

{% block title %}TMB Gearlocs{% endblock %}

{% block body %}
    <div class="container-fluid">
    <h1>Gearlocs</h1>
    <p>The party of our intrepid adventurers</p>
    <table class="table table-borderless">
        <tr>
            <th>Id</th>
            <th>  </th>
            <th>Name</th>
            <th>Health</th>
            <th>Dexterity</th>
            <th>Attack</th>
            <th>Defense</th>
        </tr>
        {% if gearlocs is defined and gearlocs is not empty %}
            {% for gearloc in gearlocs %}
                <tr>
                    <td>{{ gearloc.id }}</td>
                    <td><a href="{{ path('gearlocs_by_id', {'id':gearloc.id}) }}"><img src="{{ asset('/images/'~gearloc.name~'.jpg') }}" width="100px" height="100px"></a></td>
                    <td><a href="{{ path('gearlocs_by_id', {'id':gearloc.id}) }}">{{ gearloc.name }}</a></td>
                    <td>{{ gearloc.health }}</td>
                    <td>{{ gearloc.dexterity }}</td>
                    <td>{{ gearloc.attack }}</td>
                    <td>{{ gearloc.defense }}</td>
                </tr>
            {% endfor %}
            {% if gearlocs|length == 1 %}
                <tr>
                    <td>{{ gearlocs.id }}
                    <td><a href="{{ path('gearlocs_index') }}"><img src="{{ asset('/images/'~gearlocs.name~'.jpg') }}" width="100px" height="100px"></a></td>
                    <td><a href="{{ path('gearlocs_index') }}">{{ gearlocs.name }}</a></td>
                    <td>{{ gearlocs.health }}</td>
                    <td>{{ gearlocs.dexterity }}</td>
                    <td>{{ gearlocs.attack }}</td>
                    <td>{{ gearlocs.defense }}</td>
                </tr>
            {% endif %}
        {% endif %}
    </table>
    </div>
{% endblock %}