{% extends 'base.html.twig' %}

{% block title %}TMB Tyrants{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>Tyrants</h1>
        <p>The meanest of the Mean and the Baddest of the Bad.</p>
        <table class="table table-borderless">
            <tr>
                <th>Id</th>
                <th>  </th>
                <th>Name</th>
                <th>Progress</th>
                <th>Days</th>
            </tr>
            {% if tyrants is defined and tyrants is not empty %}
                {% for tyrant in tyrants %}
                    <tr>
                        <td>{{ tyrant.id }}</td>
                        <td><a href="{{ path('tyrants_by_id', {'id':tyrant.id}) }}"><img src="{{ asset('/images/'~tyrant.name~'.jpg') }}" width="100px" height="100px"></a></td>
                        <td><a href="{{ path('tyrants_by_id', {'id':tyrant.id}) }}">{{ tyrant.name }}</a></td>
                        <td>{{ tyrant.progress }}</td>
                        <td>{{ tyrant.days }}</td>
                    </tr>
                {% endfor %}
                {% if tyrants|length == 1 %}
                    <tr>
                        <td>{{ tyrants.id }}</td>
                        <td><a href="{{ path('tyrants_index') }}"><img src="{{ asset('/images/'~tyrants.name~'.jpg') }}" width="100px" height="100px"></a></td>
                        <td><a href="{{ path('tyrants_index') }}">{{ tyrants.name }}</a></td>
                        <td>{{ tyrants.progress }}</td>
                        <td>{{ tyrants.days }}</td>
                    </tr>
                </table>
                <br>
               {% if encounters is defined and encounters is not empty %}
                <h4>Encounters featuring {{ tyrants.name }}</h4>

                <table class="table table-borderless">
                            <tr>
                                {#<th>Id</th>#}
                                {#<th>   </th>#}
                                <th>Name</th>
                                <th>Tyrant</th>
                                <th>Day 1</th>
                                <th>Day 2</th>
                                <th>Day 3</th>
                                <th>Day 4</th>
                                <th>Day 5</th>
                                <th>Day 6</th>
                                <th>Day 7</th>
                            </tr>
                        {% for encounter in encounters %}
                            <tr>
                                {#<td>{{ encounter.id }}</td>#}
                                {#<td><a href="{{ path('encounters_by_id', {'id':encounter.id}) }}"><img src="{{ asset('/images/'~encounter.tyrantid.name~'.jpg') }}" width="100px" height="100px"></a></td>#}
                                <td><a href="{{ path('encounters_by_id', {'id':encounter.id}) }}">{{ encounter.name }}</a></td>
                                <td>{{ encounter.tyrantid.name }}</td>
                                <td>{{ encounter.day1id.name }}</td>
                                <td>{{ encounter.day2id.name }}</td>
                                <td>{{ encounter.day3id.name }}</td>
                                <td>{{ encounter.day4id.name }}</td>
                                <td>{{ encounter.day5id.name }}</td>
                                <td>{{ encounter.day6id.name }}</td>
                                <td>{{ encounter.day7id.name }}</td>
                            </tr>
                        {% endfor %}
                        {% if encounters|length == 1 %}
                            <tr>
                                {#<td>{{ encounters.id }}</td>#}
                                {#<td><a href="{{ path('encounters_index', {'id':encounters.id}) }}"><img src="{{ asset('/images/'~encounters.tyrantid.name~'.jpg') }}" width="100px" height="100px"></a></td>#}
                                <td><a href="{{ path('encounters_index', {'id':encounters.id}) }}">{{ encounters.name }}</a></td>
                                <td>{{ encounters.tyrantid.name }}</td>
                                <td>{{ encounters.day1id.name }}</td>
                                <td>{{ encounters.day2id.name }}</td>
                                <td>{{ encounters.day3id.name }}</td>
                                <td>{{ encounters.day4id.name }}</td>
                                <td>{{ encounters.day5id.name }}</td>
                                <td>{{ encounters.day6id.name }}</td>
                                <td>{{ encounters.day7id.name }}</td>
                            </tr>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endif %}
        </table>
    </div>
{% endblock %}